{% extends "base.html" %} 
{% block content %}
<form>
  <div class="row mb-3">
    <div class="col">
      <select id="Select" class="form-select" name="sort">
        {% for sort in sorts %} {{ sort|safe}} {% endfor %}
      </select>
    </div>
    <div class="col">
      <select id="Select" class="form-select" name="direction">
        <option value="ascending" {% if direction == 'ascending'%} selected {% endif %}>lowest first</option>
        <option value="descending" {% if direction == 'descending'%} selected {% endif %}>highest first</option>
      </select>
    </div>
    <input type="text" name="page" value="1" style="display: none;"/>
    <div class="col">
      <input
        name="search"
        type="text"
        id="TextInput"
        class="form-control"
        placeholder="Mgla, Dunkelheit, Darkside"
        value="{{ search }}"
      />
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">cover</th>
      <th scope="col">artist</th>
      <th scope="col">title</th>
      <th scope="col">price</th>
      <th scope="col">year</th>
      <th scope="col">stock</th>
    </tr>
  </thead>
  <tbody>
    {% for item in data %}
    <tr>
      <td>
        <img src="{{ url_for('static', filename='photos/'+item.photo)}}" style="height: 20vh;" />
      </td>
      <td>{{item.name}}</td>
      <td>{{item.title}}</td>
      <td>{{item.price}}</td>
      <td>{{item.release_year}}</td>
      <td>{{item.stock}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if pages|length > 1 %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% for page in pages %}
        <li class="page-item"><a class="page-link" href="{{page.href}}">{{page.page}}</a></li> 
      {% endfor %}
    </ul>
  </nav>
{% endif %}
{% endblock %}
