<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fucking albums</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand bg-primary navbar-dark sticky-top">
      <div class="container">
        <a class="navbar-brand" href="/">What's up motherfucker</a>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/albums">albums</a>
          </li>
          <li class="nav-item">
            {% if session.username %}
            <a class="nav-link" href="/my-account">my account</a>
            {% else %}
            <a class="nav-link" href="/sign-in">sign in</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </nav>
    <div class="container mt-3">{% block content %}{% endblock %}</div>
  </body>
</html>
