{% extends "base.html" %} {% block content %}
<form method="post">
  <div class="row mb-3">
    <div class="col-4">
      <input
        name="username"
        type="text"
        class="form-control"
        placeholder="username"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-4">
      <input
        name="password"
        type="password"
        class="form-control"
        placeholder="password"
      />
    </div>
  </div>
  <div class="row mb-3">
    <div
      class="col"
      style="justify-content: space-between; display: flex; flex-direction: row"
    >
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
{% if response %}
<div class="col-4">
  <div class="alert alert-danger">{{response}}</div>
</div>
{% endif %} {% endblock %}
